*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

#app {
  margin: 0;
  border: 0;
  padding: 0;
}

.image-box {
  position: relative;
}

.image-box img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0;
}

.image-box img.selected {
  z-index: 10;
  opacity: 1;
  transition: opacity 800ms;
  object-fit: cover;
}

.image-box img.selected:active {
  opacity: 1;
}